.env
__pycache__/
*.py[cod]
*.egg-info/
.DS_Store
mlruns/
data/synthetic/
data/validation/
data/tokenizer_check_results.json
*.safetensors
*.bin
*.pt
*.pth
wandb/
outputs/
.hydra/
flan/
tiny-mixtral/
TurboSparse-Mistral-Instruct/
flant5-tuned-30/
Lite-Mistral-150M-v2-Instruct/
information/
s3.cyberduckprofile
viz_results/
eval_results/
